@import "color";

.logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 9rem;
  img {
    width: 100%;
  }
}

.connectBtn {
  text-decoration: none;
  background-color: $pink;
  color: $yellow;
  position: fixed;
  top: 1rem;
  right: 5rem;
  letter-spacing: 2px;
  font: 700 14px $text;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 7px;
  transform-origin: bottom;
  transition: transform 0.5s;
  &:hover {
    transform: skewX(-10deg);
  }
}
.scrollBtn{
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
    color: $white;
    font-size: 4rem;
    animation: mouseScrollAnimation 0.5s linear infinite alternate;
  
}

@keyframes mouseScrollAnimation {
    to {
      transform: translate(-50%, -10px);
    }
  }
  